<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/procurmentdb?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root@123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
       
        <property name="hibernate.hbm2ddl.auto">update</property>
       
        <mapping class="com.webtools.prprocessingapp.pojo.User"/>
        <mapping class="com.webtools.prprocessingapp.pojo.UserRole"/>
        <mapping class="com.webtools.prprocessingapp.pojo.SupplierItem"/>
        <mapping class="com.webtools.prprocessingapp.pojo.Requisition"/>
        <mapping class="com.webtools.prprocessingapp.pojo.Invoice"/>
        
    </session-factory>
</hibernate-configuration>
